@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: grid;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.content {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  width: 100%;
}
.header {
  padding: 15px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navigation-list {
  display: flex;
  max-width: 900px;
}
.navigation-item a:hover {
  color: #ffb548;
}
.dropdown {
  display: none;
}

.drop-down:focus {
  outline: none;
}
.navigation-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.navigation-item:not(:last-child) {
  padding-right: 40px;
}
.navigation-icons {
  height: 30px;
  border-left: 1px solid rgb(160, 146, 146);
}
.navigation-xb {
  padding: 0 17px;
}
.hero {
  background-image: url(backround-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
}
.hero-main {
  padding: 200px 0 364px 0;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Bebas Neue", sans-serif;
}
.hero-title {
  margin: 0;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-subtitle {
  margin: 0 auto;
  max-width: 450px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
.buy-in-steam-button {
  padding-top: 29px;
  align-items: center;
  width: 260px;
  margin: 0 auto;
}
.buy-in-steam-button button {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #1a1917;
  padding: 0 12px;
  width: 230px;
  height: 60px;
  background: #ffb548;
  border-radius: 4px;
  border: none;
}
.buy-in-steam-button button:hover {
  transition: 1s;
  background: rgb(216, 107, 64);
}
.buy-in-steam-button button:focus {
  outline: none;
}
.buy-in-steam {
  display: flex;
}
.steam-price {
  padding-left: 7px;
}
.steam-text {
  padding-right: 7px;
  border-right: 1px solid rgb(160, 157, 146);
}
.the-story {
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 90px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
}
.the-story svg {
  margin: 0 auto;
  padding: 0 30px;
}
.the-story svg:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.gallery-page {
  background-image: url("backround-gallery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: none;
}
.gallery {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
}
.gallery-text {
  --galery-text-width: 650px;
  padding-top: 200px;
  max-width: var(--galery-text-width);
}
.gallery-title {
  margin: 0;
  max-width: 420px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  color: #ffffff;
}
.gallery-text h2 {
  max-width: var(--galery-text-width);
  border-bottom: 2px solid #fff;
}
.gallery-descr {
  padding-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
.gallery-subtitle {
  position: relative;
  float: right;
  /*left: calc(-1 * (var(--galery-text-width)-200px));*/
  width: 360px;
}
.gallery-subtitle-text {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
}
img {
  width: 400px;
  height: 500px;
  border-radius: 5px;
}
.sim-slider {
  max-width: 400px;
  min-width: 300px;
  padding: 190px 40px;
}
.sim-slider {
  display: flex;
  align-items: center;
  position: relative;
}
.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.sim-slider-element {
  width: 100%;
  transition: opacity 0.5s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}
div.sim-slider-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}
div.sim-slider-arrow-right {
  right: -10px;
  display: flex;
}
div.sim-slider-arrow-left:hover {
  opacity: 1;
}
div.sim-slider-arrow-right:hover {
  opacity: 1;
}
div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 200px;
  z-index: 3;
  text-align: center;
}
span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #bbb;
  border-radius: 5px;
  cursor: pointer;
}
.features-page {
  background-image: url(backround-features.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.features-container {
  float: right;
  height: 700px;
  max-width: 450px;
  padding: 0 15px;
  padding-right: 14px;
  padding-top: 130px;
}
.features-text {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
.features-subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
}
.features-title {
  margin: 0;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
}
.accordion {
  align-items: center;
  display: inline-flex;
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  float: left;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffb548;
}
.accordion svg {
  padding-right: 15px;
}
.features-svg.svg-active {
  fill: #fff;
}
.accordion.active,
.accordion:hover,
.accordion:focus {
  outline: none;
}
.panel {
  max-width: 380px;
  color: #fff;
  padding: 0 25px;
  display: none;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
}
.panel.show {
  display: block;
}
.system-page {
  background-image: url(backround-system.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.system-text {
  margin: 0 auto;
  max-width: 640px;
  padding-bottom: 130px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}
.system-subtitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
}
.system-title {
  margin: 0;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
}
.system-recomends {
  border-radius: 8px;
  background-image: url(icons/border-system.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  height: 403px;
  width: 575px;
  margin-bottom: 170px;
}
.system-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  height: 65%;
}
.system-items {
  border: 1px solid #696969;
  color: #fff;
}
.system-h3 {
  padding-left: 15px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffb548;
}
.system-p {
  padding-left: 15px;
  max-width: 250px;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
}
.system-p-graphics {
  white-space: nowrap;
  margin-left: 15px;
  margin: 0;
  width: 400px;
}
.quotes-page {
  background-image: url(backround-quotes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.quotes-content {
  padding-top: 160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.quotes-subtitle {
  padding-top: 160px;
  padding-bottom: 10px;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
.quotes-title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.quotes-descr {
  font-family: "Open Sans", sans-serif;
  max-width: 430px;
  padding: 40px 0;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.quotes-btn {
  margin-bottom: 270px;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  background-color: #ffb548;
  width: 260px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #1a1917;
}
.quotes-btn:hover {
  transition: 1s;
  background: rgb(216, 107, 64);
}
.quotes-btn:focus {
  outline: none;
}
.quotes-people-item {
  float: right;
  padding: 10px;
  max-width: 453px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}
.quotes-people-item-left {
  float: left;
}
.quotes-people-item:not(:last-child) {
  margin-bottom: 30px;
}
.person-info {
  display: flex;
  width: 100%;
}
.person-circle {
  position: absolute;
  z-index: 0;
  padding-left: 7px;
  padding-top: 5px;
}
.person-photo {
  padding-right: 30px;
  z-index: 1;
  width: 65px;
  height: 65px;
}
.qoutes-people-name {
  margin: 0;
  padding-top: 15px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffb548;
}
.people-info {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.5;
}
.twitter {
  position: relative;
  top: -55px;
  float: right;
}
.quote-text {
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.qoute-date {
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.subscribe-page {
  background-color: rgb(9, 9, 9);
}
.subscribe-content {
  display: flex;
}
.subscribe-image {
  padding-right: 70px;
  width: 445.47px;
  height: 694.41px;
}
.subscribe-text {
  font-family: "Bebas Neue", sans-serif;
}
.subscribe-subtitle {
  margin: 0;
  padding-top: 150px;
  padding-bottom: 15px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #ffffff;
}
.subscribe-title {
  margin: 0;
  padding-bottom: 40px;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-descr {
  margin: 0;
  padding-bottom: 40px;
  max-width: 680px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.subscribe-input {
  width: 366.92px;
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  border: none;
  font-size: 18px;
  line-height: 19px;
  color: #ffb548;
  mix-blend-mode: normal;
  opacity: 0.9;
}
.subscribe-input:focus {
  outline: none;
}
.subscribe-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.subscribe-button {
  padding-top: 0px;
  font-family: "Open Sans", sans-serif;
  min-width: 260px;
  height: 60px;
  background-color: #ffb548;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #1a1917;
}
.subscribe-button:hover {
  background-color: rgb(216, 107, 64);
  transition: 1s;
}
.subscribe-button:focus {
  outline: none;
}
.footer {
  background-color: rgb(9, 9, 9);
}
.footer-navigation {
  padding: 80px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #696969;
}
.footer-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.footer-links-item svg path {
  fill: #ffffff;
  opacity: 1;
}
.footer-links-item svg path:hover {
  cursor: pointer;
  transition: 0.6s;
  fill: #ff1313;
}
.footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.footer-company-info {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.6;
}
.footer-info-list {
  max-width: 440px;
  display: flex;
  opacity: 0.6;
}
.footer-info-list-item {
  padding-left: 15px;
  opacity: 0.6;
}
.footer-info-list-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid #fff;
}
.footer-info-list-item:hover {
  transition: 0.6s;
  opacity: 1;
}

@media (max-width: 1000px) {
  .subscribe-button {
    margin-top: 20px;
  }
  .subscribe-input {
    width: 260px;
  }
  .gallery-text h2 {
    font-size: 70px;
  }
  .dropdown {
    display: block;
  }
  .navigation-icons {
    display: none;
  }
  .navigation-list {
    display: none;
  }
  /**/
  .dropbtn {
    padding: 5px;
    border: none;
    cursor: pointer;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    outline: none;
  }
  .content {
    max-width: 900px;
  }
  .header {
    max-width: 800px;
    margin: 0 auto;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffb548;
    max-width: 80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    display: flex;
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
    font-size: 8px;
  }
  .dropdown a:hover {
    background-color: #fff;
  }
  .show {
    display: block;
  }
}
@media (max-width: 900px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery-text {
    padding-top: 20px;
    margin: 0 auto;
  }
  .sim-slider {
    padding-top: 20px;
    margin: 0 auto;
  }
}
@media (max-width: 790px) {
  .content {
    max-width: 750px;
  }
  .header {
    max-width: 700px;
  }
  .quotes-content {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .quotes-btn {
    margin-bottom: 20px;
  }
  .subscribe-image {
    padding-top: 50px;
    padding-right: 15px;
    width: 300px;
    height: 500px;
  }
  .subscribe-subtitle {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
  }
  .subscribe-title {
    padding-bottom: 20px;
    font-size: 50px;
    line-height: 50px;
    max-width: 300px;
  }
  .subscribe-descr {
    padding-bottom: 20px;
    max-width: 300px;
    font-size: 14px;
    line-height: 18px;
  }
  .footer-info {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    align-items: center;
    padding: 15px 0;
  }
  .footer-navigation {
    max-width: 550px;
    margin: 0 auto;
  }
  .footer-company-info {
    max-width: 350px;
    margin: 0 auto;
  }
  .accordion {
    max-width: 400px;
    font-size: 20px;
    line-height: 20px;
  }
  .features-title {
    font-size: 50px;
    line-height: 50px;
    max-width: 400px;
  }
  .features-subtitle {
    font-size: 16px;
    line-height: 16px;
  }
  .dropdown-content {
    max-width: 80px;
  }
  .header {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  .hero-title {
    font-size: 50px;
    line-height: 50px;
  }
  .system-title {
    font-size: 50px;
    line-height: 50px;
  }
  .the-story {
    padding-bottom: 40px;
  }
  .features-container {
    height: 700px;
    max-width: 300px;
  }
  .header {
    max-width: 400px;
  }
}
@media (max-width: 575px) {
  .system-recomends {
    border: 1px solid #696969;
    background-color: rgba(0, 0, 0, 0.4);
    height: 300px;
    width: 475px;
    margin-bottom: 100px;
    border-radius: 0;
  }
  .system-p {
    padding-left: 10px;
    max-width: 200px;
    font-size: 14px;
    line-height: 15px;
    text-align: justify;
    color: #ffffff;
  }
  .system-h3 {
    padding-left: 10px;
    font-size: 20px;
    line-height: 20px;
  }
  .subscribe-image {
    display: none;
  }
}
@media (max-width: 500px) {
  .sim-slider img {
    max-width: 200px;
    max-height: 300px;
    padding: 0px 10px 0 50px;
  }
  .sim-slider {
    width: 50px;
    margin: 0;
  }
  .gallery {
    padding: 0;
  }
}
@media (max-width: 420px) {
  .header {
    max-width: 250px;
  }
  .content {
    max-width: 350px;
    padding: 5px;
    margin: 0 auto;
  }
  .hero-title {
    font-size: 30px;
    line-height: 30px;
  }
  .hero-subtitle {
    max-width: 350px;
    font-size: 18px;
    line-height: 18px;
  }
  .hero-main {
    padding: 100px 0 100px 0;
    max-width: 700px;
    margin: 0 auto;
    font-family: "Bebas Neue", sans-serif;
  }
  div.sim-slider-dots {
    margin-bottom: -200px;
  }
  .story-text {
    font-size: 12px;
    margin: 0 auto;
  }
  .the-story svg {
    margin: 0 auto;
    padding: 0 20px;
  }
  .gallery-descr {
    max-width: 200px;
    font-size: 15px;
    line-height: 15px;
  }
  .gallery-text h2 {
    max-width: 200px;
    font-size: 30px;
    line-height: 30px;
  }
  .gallery-subtitle-text {
    max-width: 300px;
    font-size: 15px;
    line-height: 15px;
  }
  .gallery-text {
    --galery-text-width: 375px;
    max-width: var(--galery-text-width);
  }
  .sim-slider {
    padding: 0;
    width: 50px;
    margin: 0;
  }
  .system-subtitle {
    font-size: 15px;
    line-height: 15px;
  }
  .system-title {
    font-size: 30px;
    line-height: 30px;
  }
  .system-text {
    max-width: 360px;
    padding-bottom: 40px;
  }
  .system-recomends {
    border: 1px solid #696969;
    background-color: rgba(0, 0, 0, 0.4);
    height: 300px;
    width: 345px;
    margin-bottom: 100px;
    border-radius: 0;
  }
  .system-p {
    padding-left: 5px;
    max-width: 150px;
    font-size: 15px;
    line-height: 15px;
    text-align: justify;
    color: #ffffff;
  }
  .system-h3 {
    padding-left: 5px;
  }
  .system-p-graphics {
    white-space: unset;
    margin-left: 15px;
    margin: 0;
    min-width: 300px;
  }
  .quotes-subtitle {
    padding-top: 60px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 15px;
  }
  .quotes-title {
    font-size: 30px;
    line-height: 30px;
  }
  .quotes-descr {
    margin: 0;
    max-width: 340px;
    padding: 20px 0;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
  .quotes-btn {
    margin-bottom: 40px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
  }
  .qoutes-people-name {
    padding-top: 10px;
    font-size: 18px;
  }
  .quote-text {
    padding-left: 5px;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
  }
  .people-info {
    font-size: 15px;
    line-height: 22px;
  }
  .subscribe-title {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 30px;
    max-width: 300px;
  }
  .subscribe-input {
    width: 255px;
    height: 50px;
    font-size: 15px;
    line-height: 18px;
  }
  .subscribe-input::placeholder {
    font-size: 15px;
  }
  .subscribe-button {
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }
  .footer-navigation {
    max-width: 300px;
    margin: 0 auto;
  }
  .footer-info-list {
    display: block;
  }
  .footer-info-list-item {
    text-align: center;
    margin: 0 auto;
    max-width: 150px;
    padding: 0;
    padding-left: 0px;
    opacity: 0.6;
  }
  .footer-info-list-item:not(:last-child) {
    padding-right: 0px;
    border: none;
  }
  .footer-company-info {
    max-width: 320px;
    padding-bottom: 10px;
    margin: 0 auto;
  }
  .item2 {
    padding: 0 5px;
    border-left: 1px solid #696969;
    border-right: 1px solid #696969;
  }
  .panel {
    padding: 0 25px;
    font-size: 15px;
    line-height: 18px;
  }
  .buy-in-steam-button button {
    font-size: 13px;
    line-height: 18px;
    width: 210px;
    padding-left: 15px;
    height: 50px;
  }
  .buy-in-steam-button {
    width: 210px;
  }
}
